<ion-content>
  <form>
    <div class="login-screen">
      <div class="text-center top-logo ion-padding ion-margin">
        <img src="assets/icon/Pharma.png">
        <ion-text>
          <p class="tag">Login for a seamless experience</p>
        </ion-text>
      </div>
      <ion-row lines="none" class="ion-margin ion-padding-top">
        <ion-col size="12">
          <ion-input autocomplete="off" type="text" expand="block" class="form-control custom-textbox"
            placeholder="Email address">
            <ion-icon [src]="'assets/icon/email-ico.svg'" class="left-icon" item-left></ion-icon>
          </ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input autocomplete="off" [type]="showPsw ? 'text' : 'password'" expand="block"
            class="form-control custom-textbox right-icon-available" placeholder="Password">
            <ion-icon [src]="'assets/icon/lock-ico.svg'" class="left-icon" item-left></ion-icon>

            <ion-icon *ngIf="showPsw==true" (click)="changePassword()" class="right-icon"
              [src]="'assets/icon/pass-eye-close-ico.svg'" color="warning"></ion-icon>
            <ion-icon [src]="'assets/icon/pass-eye-close-ico.svg'" (click)="changePassword()" class="right-icon"
              *ngIf="showPsw==false" color="warning">
            </ion-icon>
          </ion-input>
        </ion-col>

        <ion-col size="12" class="ion-margin-bottom text-center forgot-link">
          <br>
          <a href="javascript:void(0);" class="password" routerLink="/auth/forgotpassword">Forgot your password?</a>
        </ion-col>
      </ion-row>


      <ion-row class="next-btn ion-padding-top ion-margin">
        <ion-col size="12">
          <ion-button expand="block" type="submit" routerLink="/admin" class="custom-btn">Next
          </ion-button>
        </ion-col>
        <ion-col class="text-center" size="12">
          <p class="footer-text ion-no-margin">
            Don't have an account?
            <a class="password" routerLink="/auth/register" href="javascript:void(0);">SIGN UP</a>
          </p>
        </ion-col>
        <ion-col class="terms-policy" size="12">
          <ion-text color="medium" class="text-center ">
            <p class="footer-text ion-no-margin">
              By Signing in you agree to our <br>
              <a class="password" href="javascript:void(0);">Terms & conditions</a>
              and
              <a class="password" href="javascript:void(0);">Privacy policy</a>
            </p>
          </ion-text>
        </ion-col>
      </ion-row>

    </div>

  </form>


</ion-content>
