::ng-deep {
  app-quote-history {
    ion-content {
      .main-row {
        background: #f6f8fa;
        border-radius: 31px 31px 31px 0px;

        ion-col:nth-child(1) {
          justify-content: space-between;
          display: inline-flex;

          .quote-label {
            color: #10a8a0;
            font-size: 16px;
          }

          .quote-date {
            font-size: 10px;
            color: #31333d;
          }
        }

        ion-col:nth-child(2) {
          font-size: 14px;

          .user-name {
            font-size: 18px;
            color: #3e3d3d;
          }

          p {
            padding: 4px 0px;

            &.user-address,
            span {
              color: #93949a;
              font-size: 14px;
            }

            &.message {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 16px;
              color: #10A8A0;
            }

            &.user-address {
              ion-icon {
                position: absolute;
                left: -5px;
                height: 15px;
                width: 12px;
              }


            }

            &.prod-name {
              color: black;
            }
          }
        }

        p {
          margin: 0px !important;
        }

      }

    }
  }
}
