::ng-deep {
  app-offer-details {
    ion-content {
      .main-row {
        background: #f6f8fa;
        border-radius: 31px 31px 31px 0px;

        ion-col:nth-child(1) {
          font-size: 14px;

          .user-name {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 126.39%;

            color: #93949A;
          }

          p {
            padding: 4px 0px;

            &.user-address,
            span {
              color: #93949a;
              font-size: 14px;
            }

            &.user-address {
              ion-icon {
                position: absolute;
                left: -5px;
                height: 15px;
                width: 12px;
              }
            }

            &.prod-name {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 126.39%;
              /* or 20px */


              color: #3E3D3D;
            }
          }
        }

        p {
          margin: 0px !important;
        }
      }
    }
  }

  .call-btn {
    --background: linear-gradient(269.58deg, #00F0FF -14.36%, #06549C 97.21%);
    --border-radius: 83px 60px 60px 0px !important;
    height: 54px;
    --box-shadow: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 126.39%;
    /* identical to box height, or 23px */


    color: #FFFFFF;

    .attachment-icon {
      height: 29px;
      width: 29px;
      padding: 11px 13px 11px 10px;
    }
  }
}
