<ion-header class="ion-padding-start ion-padding-top ion-padding-end">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-sharp" class="back-arrow"></ion-icon>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngFor="let item of [1,2,3,4,5,6,7]">
    <ion-row class="prof-details">
      <ion-avatar class="customlist">
        N
      </ion-avatar>
      <p class="ion-no-margin heading">Nimai Saha</p>
      <p class="date">2nd October’ 21</p>
    </ion-row>
    <ion-row class="text-list">
      <ion-col>
        <p class="ion-no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper gravida et sit
          est,
          pellentesque
          interdum
          nisi,
          luctus feugiat. Sit luctus elementum magna arcu elementum at at. </p>
      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>
