<ion-header>
  <ion-toolbar clas="ion-padding-top ">
    <ion-buttons class="humbergger-menu" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title style="padding-top:35px">Authorized Vendor</ion-title> -->
    <ion-buttons class="right-icons ion-margin-end header-icon" slot="end">

      <ion-icon class="notification-icon" slot="end" [src]="'assets/icon/notification-icon.svg'"></ion-icon>

    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <div class="login-screen">
      <ion-row class="ion-margin ion-padding">
        <ion-col size="12" class="text-center">
          <ion-text class="recover">
            <h1 class="tag">Add your Assosiates</h1>
            <h6 class="tag2">for a personalized user experience</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <br>
      <ion-row class="ion-margin">
        <ion-col size="12">
          <ion-input autocomplete="off" type="text" expand="block" class="form-control custom-textbox ion-padding"
            placeholder="Please Enter assosiate’s UID">

          </ion-input>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>
<footer>
  <ion-row class=" ion-padding-bottom ion-margin ">
    <ion-col size="12">
      <ion-button expand="block" type="submit" routerLink="/admin/associateslist" class="custom-btn">ADD
      </ion-button>
    </ion-col>
  </ion-row>
</footer>
