<ion-header class="ion-padding-start ion-padding-top ion-padding-end">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-sharp" class="back-arrow"></ion-icon>
    </ion-buttons>
    <ion-title>Reply Quotation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding">
    <ion-col size="12">
      <ion-label class="title">Product Name</ion-label>
      <br><br>
      <ion-input type="text" expand="block" class="form-control custom-textbox">
      </ion-input>
    </ion-col>
    <br><br>
    <ion-col size="12">
      <ion-label class="title">Quantity</ion-label>
      <br><br>
      <ion-input type="text" expand="block" class="form-control custom-textbox">
      </ion-input>
    </ion-col>
    <ion-col size="12">
      <ion-label class="title">Unit</ion-label>
      <br><br>
      <ion-input type="text" expand="block" class="form-control custom-textbox">
      </ion-input>
    </ion-col>
    <ion-col size="12">
      <ion-label class="title">Manufacturer Name</ion-label>
      <br><br>
      <ion-input type="text" expand="block" class="form-control custom-textbox">
      </ion-input>
    </ion-col>
    <ion-col size="12">
      <ion-label class="title">Batch</ion-label>
      <br><br>
      <ion-input type="text" expand="block" class="form-control custom-textbox">
      </ion-input>
    </ion-col>
    <ion-col size="12">
      <ion-label class="title">MRP</ion-label>
      <br><br>
      <ion-input type="text" expand="block" class="form-control custom-textbox">
      </ion-input>
    </ion-col>
    <ion-col size="12">
      <ion-label class="title">Net Price Per Unit </ion-label>
      <br><br>
      <ion-input type="text" expand="block" class="form-control custom-textbox">
      </ion-input>
    </ion-col>
    <ion-col size="12">
      <ion-label class="title">Expiry Date</ion-label>
      <br><br>
      <ion-input type="text" expand="block" class="form-control custom-textbox" placeholder="--select--">
        <ion-icon class="right-icon" [src]="'assets/icon/date-range-ico.svg'"></ion-icon>
      </ion-input>
    </ion-col>

    <ion-col size="12">
      <br>
      <ion-textarea placeholder="Type here text......" class="form-control custom-textarea ion-padding ">
      </ion-textarea>
    </ion-col>
  </ion-row>

  <ion-row class="next-btn ion-padding-top ion-margin ">
    <ion-col size="12">
      <ion-button expand="block" type="submit" routerLink="/auth/selection" class="custom-btn">SEND
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
