::ng-deep {
  app-reply-quotation {
    ion-content {
      .custom-textarea {
        opacity: 0.5;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 12px;
        height: 125px;

      }

      .custom-textbox {
        border-radius: 60px;
      }

      .title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height, or 114% */


        color: #9A9BA1;
      }
    }
  }
}
