<ion-content>
  <form>
    <div class="login-screen">
      <div class="header">
        <ng-container>
          <ion-icon name="chevron-back-sharp" class="back-arrow"></ion-icon>
        </ng-container>
      </div>
      <div class="text-center top-logo ion-padding ion-margin">
        <ion-row class="ion-margin">
          <ion-col size="12" class="text-center">
            <img src="assets/icon/Pharma.png" class="logo">
          </ion-col>
          <ion-col size="12" class="text-center">
            <ion-text class="recover">
              <h1 class="tag">Want to buy or sell?</h1>
              <h6 class="tag2">Buy and Sell with us</h6>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="next-btn  ">
          <ion-col size="12">
            <ion-button expand="block" type="submit" class="selction-btn">Buy Now
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="block" type="submit" class="selction-btn1">Sell Now
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </form>
</ion-content>
