::ng-deep {
  app-selction {
    .xyz {
      padding-right: 15px;
      position: relative !important;
      top: 17px !important;
    }

    .buy-img {
      width: 53px;
      height: 53px;
      padding: 10px;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 100%;
    }

    .attachment-icon {
      height: 31px;
      width: 33px;
    }

    ion-header {
      ion-toolbar {


        ion-buttons {
          &.humbergger-menu {
            color: #10a8a0;
            position: relative;
            top: 17px;
          }

          &.right-icons {
            .notification-icon {
              width: 16px;
              height: 19.5px;
            }

            .add-user-icon {
              width: 24px;
              height: 16px;
            }
          }
        }
      }
    }

    .selction-btn {
      --background: #83c24c !important;
      --border-radius: 83px 60px 60px 0px !important;
      height: 66px;
      --box-shadow: none;
      text-transform: capitalize;

      span.ion-text-left {
        margin-right: auto;
        margin-left: 20px;
      }
    }

    .selction-btn1 {
      text-transform: capitalize;
      --background: #10a8a0;
      --border-radius: 83px 60px 60px 0px !important;
      height: 66px;
      --box-shadow: none;

      span.ion-text-left {
        margin-right: auto;
        margin-left: 20px;
      }
    }

    .top-logo {
      position: relative;

      // top: 56px;
      img {
        width: 11pc;
      }
    }

    ion-row {
      &.next-btn {
        position: relative;
        top: 7rem;
        height: 66px;
      }
    }

    .password {
      text-decoration: none;
    }

    .custom-textbox {
      font-weight: 400;
      font-size: 14px;
      line-height: 126.39%;
      border-radius: 50px 60px 60px 0px;
    }

    .forgot-link {
      a {
        color: var(--ion-color-primary);
        text-decoration: none;
      }
    }
  }
}
