::ng-deep {
  app-search {
    .not-found-msg {
      position: relative;
      top: 6rem;
    }

    .deleteicon {
      position: absolute;
      right: 12px;
      height: 10px;
      width: 10px;
    }

    .not-found {
      background: rgba(255, 255, 255, 0.79);
      box-shadow: 0px 38px 39px rgb(0 0 0 / 3%);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      height: 306px;
      position: absolute;
      width: 92%;
      top: 222px;
      z-index: 9;
      background: transparent;

    }

    .error-msg {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 126.39%;
      /* or 18px */

      text-align: center;

      color: #93949A;
    }

    .error-msg1 {
      text-decoration: underline;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 126.39%;
      /* or 18px */

      text-align: center;


    }

    .header {
      top: 38px;
      position: relative;
      left: 12px;
    }

    .logo {
      position: relative;
      top: 47px;
    }

    .recover {
      bottom: 12px;
      position: relative;

      .searching-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 126.39%;
        /* or 35px */


        color: #31333D;
      }

      .searching-text1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 126.39%;
        /* or 20px */

        text-align: center;

        color: #31333D;
        position: relative;
        top: -12px;

      }
    }



    // .input {
    //   position: relative;
    //   bottom: 15px;
    // }


    ion-row {
      .custom-textbox {

        opacity: 0.5;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 126.39%;
        /* identical to box height, or 18px */


        color: #93949A;
        border-radius: 60px;
        color: #93949A;
        padding: 7px 9px !important;
        // margin-left: 12px !important;
        color: black;
      }

      &.next-btn {
        position: relative;
        top: 7rem;
      }

      &.forgot-btn {
        position: relative;
        top: 5rem;
        text-decoration: none;
        font-size: 20px;
      }
    }

    .menul-textbox {}



  }

}
