<ion-header class="ion-padding-start ion-padding-top ion-padding-end">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-sharp" class="back-arrow" (click)="prevTab()"></ion-icon>
    </ion-buttons>
    <ion-title>Quote Request 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end">
  <ion-row class="main-heading">
    <ion-col size="12">
      <p class="quote-label ion-no-margin">Quote Request {{i}}</p>
      <p class="quote-date  ion-no-margin">10th Feb’22 l 10:20 AM </p>
    </ion-col>
    <ion-col size="12">
      <p class="ion-no-margin med-name">Paracetamol 650</p>
    </ion-col>

  </ion-row>
  <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8];let i = index">
    <ion-row class="quot-options">
      <ion-col size="12" class="ion-no-padding">
        <div class="quote-number"> <span>Quote {{i+1}}</span> </div>
        <div class="quote-ico-opt">
          <ion-icon [src]="'assets/icon/call-icon.svg'" routerLink="/admin/selectvendor"></ion-icon>
          <ion-icon [src]="'assets/icon/contact-icon.svg'" routerLink="/admin/quotesprofile"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="main-row ion-padding" routerLink="/admin/quotedetails">

      <ion-col size="12" class="ion-no-padding">
        <p class="med-name">Paracetamol 650</p>
        <p><span>Manufacturer Name:</span>&nbsp; <span>Lorem Ipsum name</span></p>
        <p><span>Expiry Date:</span>&nbsp; <span>03 april 23</span></p>
        <p><span>Quantity:</span>&nbsp; <span>5 Carton</span></p>
        <p><span>Batch:</span>&nbsp; <span>Strip</span></p>
        <p><span>Unit:</span>&nbsp; <span>5</span></p>
        <p><span>MRP:</span>&nbsp; <span>₹6999.50</span></p>
        <p><span>Net Price per unit</span>&nbsp; <span>569.25</span></p>
      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>
