<ion-header class="ion-padding-start ion-padding-top ion-padding-end">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-sharp" class="back-arrow"></ion-icon>
    </ion-buttons>
    <ion-title>Associates</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="member-list">
    <ion-item class="ion-margin">
      <ion-avatar class="customlist">

      </ion-avatar>
      <ion-label>
        <h3 class="profileName">Amit Pramanik</h3>
      </ion-label>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-avatar class="customlist">

      </ion-avatar>
      <ion-label>
        <h3 class="profileName">Amit Pramanik</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-row class="next-btn ion-padding-top ion-margin ">
    <ion-col size="12">
      <ion-button expand="block" type="submit" routerLink="/auth/assosiates" class="custom-btn">Add Associates
      </ion-button>
    </ion-col>
  </ion-row>


</ion-content>
