<ion-header class="ion-padding-start ion-padding-top ion-padding-end">
</ion-header>

<ion-content>
  <ion-row class="ion-margin text-center ion-padding-top">
    <ion-col size="12">
      <p class="heading ion-no-margin">Request For Quotes</p>
      <p class="sub-heading text-center">When user wants to buy any products he she can request for quotes from sellers
        by select
        the options:</p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin ion-padding-start ion-padding-end">
    <ion-col size="12" class="check-button ion-padding">
      <ion-label class="check-item">
        <ion-checkbox></ion-checkbox>&nbsp;&nbsp;&nbsp; West Bengal
      </ion-label>
      <ion-icon [src]="'assets/icon/down-ico.svg'" class="attachment-icon"></ion-icon>
    </ion-col>
    <br>
    <br><br>
    <ion-col size="12" class="check-button ion-padding-top ion-padding">
      <ion-label class="check-item">
        <ion-checkbox></ion-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;Kolkata
      </ion-label>
      <ion-icon [src]="'assets/icon/down-ico.svg'" class="attachment-icon"></ion-icon>
    </ion-col>

  </ion-row>

  <ion-row class="ion-margin ion-padding-start ion-padding-end">
    <ion-col size="12" class="check-box ion-padding">

      <ion-col size="12" class="title check-button">
        <ion-label class="check-item">
          Associate
        </ion-label>
        <ion-icon [src]="'assets/icon/down-ico.svg'" class="attachment-icon1"></ion-icon>
      </ion-col>
      <p>
        <ion-label>
          <ion-checkbox></ion-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;All

        </ion-label>
      </p>
      <p>
        <ion-label class="">
          <ion-checkbox></ion-checkbox>&nbsp;&nbsp;&nbsp;&nbsp; Bijoy Kumar
        </ion-label>
      </p>
      <p>
        <ion-label>
          <ion-checkbox></ion-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;Saha
          Tapan Saha
        </ion-label>
      </p>
    </ion-col>
  </ion-row>
  <ion-list lines="none" class="ion-margin">
    <ion-list-header>
      <ion-label class="redio-offer">Authorized</ion-label>
    </ion-list-header>
    <ion-radio-group allow-empty-selection="true" name="radio-group" #radioGroup>
      <ion-item>
        <ion-label>All Vendor</ion-label>
        <ion-radio slot="start" class="radio-btn" name="offerto"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>All Vendor
          Authorized Vendor</ion-label>
        <ion-radio slot="start" class="radio-btn" name="offerto"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-row class="next-btn ion-padding-top ion-margin ">
    <ion-col size="12">
      <ion-button expand="block" type="submit" routerLink="/auth/otp" class="custom-btn"> GET STARTED
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
