<ion-header class="ion-padding-start ion-padding-top ion-padding-end">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-sharp" class="back-arrow" (click)="prevTab()"></ion-icon>
    </ion-buttons>
    <ion-title>Quote 1</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col class="text-center list-heading">
      <img class="profile" src="./assets/icon/profile.svg" />
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin list ">
    <ion-col size="12" class="text-center ion-padding profile-details ">
      <h1 clas="tag1">Samir Hazra</h1>
      <h6 class="tag2">samirhazra@pharma3.com</h6>
      <h6 class="tag3">+91 9874 563210 </h6>
    </ion-col>

    <p class="line"></p>

    <ion-col size="12" class="ion-padding">
      <p>State: West Bengal</p>
      <p>City: Kolkata</p>
      <p>PIN code: 700110</p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin ">
    <ion-col size="12">
      <p class="ion-no-margin"><span class="name-text">Authorized Stockist</span><span class=" name-text2">Yes</span>
      </p>
    </ion-col>
  </ion-row>
</ion-content>
