::ng-deep {
  app-register {
    .header {
      top: 38px;
      position: relative;
      left: 12px;
    }

    .logo {
      width: 205px;
    }

    .recover {
      bottom: 12px;
      position: relative;

      .tag {
        font-weight: 400;
        font-size: 26px;
      }

      .tag2 {
        font-size: 15px;
      }
    }



    // .input {
    //   position: relative;
    //   bottom: 15px;
    // }


    ion-row {
      .custom-textbox {
        opacity: 0.5;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 60px;
        color: #93949A;
        font-size: 14px;
        padding: 7px 9px !important;
        // margin-left: 12px !important;
        color: #93949A;

      }

      &.next-btn {
        position: relative;
        bottom: 15px;
      }

      &.forgot-btn {
        position: relative;
        top: 5rem;
        text-decoration: none;
        font-size: 20px;
      }
    }

    .menul-textbox {}

    .left-icon {
      margin-left: 10px;
      padding: 6px;
    }

  }

  .custom {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 126.39%;
    /* identical to box height, or 18px */


    color: #93949A;

    --box-shadow: none;

    --background: #F6F8FA;
    border-radius: 7px;
  }

  .register-upload {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 126.39%;
    /* identical to box height, or 18px */


    color: #93949A;

  }

  .upload-icon {
    height: 14px;
    width: 12px;
  }

  // ion-footer {
  //   position: fixed;
  //   bottom: 0px;
  // }
  .footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 126.39%;
    /* identical to box height, or 18px */

    text-align: center;

    color: #BEBEC1;
  }

  .footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 126.39%;
    /* identical to box height, or 18px */

    text-align: center;

    color: #BEBEC1;

  }
}
