<ion-content>
  <form>
    <div class="login-screen">
      <div class="text-center top-logo ion-padding ion-margin">
        <img src="assets/icon/Pharma.png">
        <ion-text>
          <p class="tag">Login for a seamless experience</p>
        </ion-text>
      </div>
      <ion-row lines="none" class="ion-margin ion-padding-top">
        <ion-col size="12">
          <ion-input autocomplete="off" type="text" expand="block" class="form-control custom-textbox"
            placeholder="Full Name">
            <ion-icon [src]="'assets/icon/profile-reg-ico.svg'" class="left-icon" item-left></ion-icon>
          </ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input autocomplete="off" type="text" expand="block" class="form-control custom-textbox"
            placeholder="Email Address">
            <ion-icon [src]="'assets/icon/email-ico.svg'" class="left-icon" item-left></ion-icon>
          </ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input autocomplete="off" type="text" expand="block" class="form-control custom-textbox"
            placeholder="Mobile Number">
            <ion-icon [src]="'assets/icon/mobile-reg-ico.svg'" class="left-icon" item-left></ion-icon>
          </ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input autocomplete="off" type="text" expand="block" class="form-control custom-textbox"
            placeholder="State">
            <ion-icon [src]="'assets/icon/state-reg-ico.svg'" class="left-icon" item-left></ion-icon>
          </ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input autocomplete="off" type="text" expand="block" class="form-control custom-textbox"
            placeholder="PIN code">
            <ion-icon [src]="'assets/icon/state-reg-ico.svg'" class="left-icon" item-left></ion-icon>
          </ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input autocomplete="off" type="text" expand="block" class="form-control custom-textbox"
            placeholder="Type of user">
            <ion-icon [src]="'assets/icon/state-reg-ico.svg'" class="left-icon" item-left></ion-icon>
          </ion-input>
        </ion-col>




      </ion-row>
      <ion-row class="ion-margin">
        <ion-col size="12" class=" forgot-link">
          <p class="ion-no-margin">Licenses and Documents </p>
        </ion-col>
        <ion-col size="7">
          <p class="register-upload">Drug License 1</p>
        </ion-col>
        <ion-col size="5">
          <ion-button expand="block" type="submit" class="custom">
            <ion-icon class="upload-icon" [src]="'assets/icon/upload-doc-ico.svg'"></ion-icon> &nbsp;&nbsp;Upload
          </ion-button>
        </ion-col>
        <ion-col size="7">
          <p class="register-upload">Drug License 2</p>
        </ion-col>
        <ion-col size="5">
          <ion-button expand="block" type="submit" class="custom">
            <ion-icon class="upload-icon" [src]="'assets/icon/upload-doc-ico.svg'"></ion-icon> &nbsp;&nbsp;Upload
          </ion-button>
        </ion-col>
        <ion-col size="7">
          <p class="register-upload">Drug License Renewal </p>
        </ion-col>
        <ion-col size="5">
          <ion-button expand="block" type="submit" class="custom">
            <ion-icon class="upload-icon" [src]="'assets/icon/upload-doc-ico.svg'"></ion-icon> &nbsp;&nbsp;Upload
          </ion-button>
        </ion-col>
        <ion-col size="7">
          <p class="register-upload">GST Certificate</p>
        </ion-col>
        <ion-col size="5">
          <ion-button expand="block" type="submit" class="custom">
            <ion-icon class="upload-icon" [src]="'assets/icon/upload-doc-ico.svg'">
            </ion-icon>&nbsp;&nbsp;Upload

          </ion-button>
        </ion-col>
        <ion-col size="7">
          <p class="register-upload">FSSAI License</p>
        </ion-col>
        <ion-col size="5">
          <ion-button expand="block" type="submit" class="custom">
            <ion-icon class="upload-icon" [src]="'assets/icon/upload-doc-ico.svg'"></ion-icon>&nbsp;&nbsp;Upload

          </ion-button>
        </ion-col>

        <ion-col size="7">
          <p class="register-upload">PAN Number</p>
        </ion-col>
        <ion-col size="5">
          <ion-button expand="block" type="submit" class="custom">
            <ion-icon class="upload-icon" [src]="'assets/icon/upload-doc-ico.svg'"></ion-icon>&nbsp;&nbsp;Upload

          </ion-button>
        </ion-col>


        <ion-col size="7">
          <p class="register-upload">Bank Account Details</p>
        </ion-col>
        <ion-col size="5">
          <ion-button expand="block" type="submit" class="custom">
            <ion-icon class="upload-icon" [src]="'assets/icon/upload-doc-ico.svg'"></ion-icon>&nbsp;&nbsp;Upload

          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="next-btn ion-padding-top ion-margin ">
        <ion-col size="12">
          <ion-button expand="block" type="submit" routerLink="/auth/otp" class="custom-btn">Next
          </ion-button>
        </ion-col>
        <ion-col size="12" class="text-center forgot-link">
          <p class="footer-text ion-no-margin">
            Already have an account?
            <a routerLink="/auth/login"> LOGIN</a>
          </p>
        </ion-col>
        <ion-col size="12">
          <ion-text color="medium" class="text-center footer ion-no-margin">
            <p class="ion-no-margin">
              By Signing in you agree to our
              <a href="javascript:void(0); " style="text-decoration: none;">Terms & conditions</a>
              and
              <a href="javascript:void(0); " style="text-decoration: none;">Privacy policy</a>
            </p>
          </ion-text>
        </ion-col>
      </ion-row>

    </div>

  </form>


</ion-content>
