<ion-header class="ion-padding-start ion-padding-top ion-padding-end">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-sharp" class="back-arrow"></ion-icon>
    </ion-buttons>
    <ion-title>Quote Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-margin">
    <ion-col size="6">
      <p>Quote Request 1</p>
      <p>Rajesh Mahato</p>
    </ion-col>
    <ion-col size="6">
      <p>10th Feb’22 l 10:20 AM </p>
    </ion-col>
    <ion-col>
      <p>
        <ion-icon [src]="'assets/icon/upload-doc-ico.svg'"></ion-icon>Lorem ipsum area, Baladiabandha, Dhenkanal,
        Odisha - 759027
      </p>
      <p><span>Product name:</span><strong>Paracetamol 650</strong></p>
      <p><span>Manufacturer Name:</span> <strong>Lorem Ipsum name</strong></p>
      <p><span>Quantity</span><strong>5 Carton</strong></p>
      <p><span>Unit</span><strong>Strip</strong></p>
    </ion-col>
  </ion-row>
</ion-content>
