<!-- <ion-header class="ion-padding-start ion-padding-top ion-padding-end">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-sharp" class="back-arrow" (click)="prevTab()"></ion-icon>
    </ion-buttons>
    <ion-title>Quote Notification</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar clas="ion-padding-top ">
    <ion-buttons class="humbergger-menu" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="padding-top:35px">Quote Notification</ion-title>
    <ion-buttons class="right-icons ion-margin-end header-icon" slot="end">

      <ion-icon class="notification-icon" slot="end" [src]="'assets/icon/notification-icon.svg'"></ion-icon>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8]">
    <ion-row class="ion-margin main-row ion-padding" routerLink="/admin/quotedetails">
      <ion-col size="12" class="ion-padding-start">
        <p class="quote-label">Quote Request {{i}}</p>
        <p class="quote-date">10th Feb’22 l 10:20 AM </p>
      </ion-col>

      <ion-col size="12" class="ion-no-padding ion-padding-start">
        <p class="user-name">Rajesh Mahato</p>
        <p class="user-address">
          <ion-icon [src]="'assets/icon/location-ico.svg'"></ion-icon>Lorem ipsum area, Baladiabandha, Dhenkanal,
          Odisha - 759027
        </p>
        <p class="prod-name">Paracetamol 650</p>
        <p class="quantity"><span>Quantity:</span>&nbsp; <strong>5 Carton</strong></p>
        <p class="unit"><span>Average Order Value: &nbsp;₹1500: </span></p>
      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>
