<ion-header class="ion-padding-start ion-padding-top ion-padding-end">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-sharp" class="back-arrow" routerLink="/admin/quoterequest"></ion-icon>
    </ion-buttons>
    <ion-title>Quote Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="ion-margin main-row ion-padding">
    <ion-col size="12" class="ion-padding-start">
      <p class="quote-label">Quote Request 1</p>
      <p class="quote-date">10th Feb’22 l 10:20 AM </p>
    </ion-col>

    <ion-col size="12" class="ion-no-padding ion-padding-start">
      <p class="user-name">Rajesh Mahato</p>
      <p class="user-address">
        <ion-icon [src]="'assets/icon/location-ico.svg'"></ion-icon>Lorem ipsum area, Baladiabandha, Dhenkanal,
        Odisha - 759027
      </p>
      <p class="prod-name"><span>Product name:</span> &nbsp;<strong>Paracetamol 650</strong></p>
      <p class="manifacture-name"><span>Manufacturer Name:</span>&nbsp; <strong>Lorem Ipsum name</strong></p>
      <p class="quantity"><span>Quantity:</span>&nbsp; <strong>5 Carton</strong></p>
      <p class="unit"><span>Unit: </span>&nbsp; <strong>Strip</strong></p>
    </ion-col>
  </ion-row>
  <ion-row class="next-btn ion-padding-top ion-margin ">
    <ion-col size="12">
      <ion-button expand="block" type="submit" routerLink="/admin/replyquotation" class="custom-btn"> SEND REPLY
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
