/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  font-family: 'Roboto';
  font-style: normal;
}

.text-center {
  text-align: center;
}


.custom-btn {
  --background: linear-gradient(265.89deg, #10A8A0 11.68%, #83C24C 89.65%) !important;
  --border-radius: 83px 60px 60px 0px !important;
  height: 54px;
  --box-shadow: none;
}

.header {
  top: 38px;
  position: relative;
  left: 12px;
}

ion-header {
  &.header-md::after {
    background-image: none !important;
  }
}

.custom-textbox {
  opacity: 0.5;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: #141414;
  height: 54px;
  padding: 7px 9px !important;

  ion-icon {
    &.left-icon {
      margin-right: 11px;
      margin-left: 12px;
    }

    &.right-icon {
      margin-left: 11px;
      position: absolute;
      right: 20px;
    }
  }

  &.right-icon-available {
    padding-right: 40px !important;
  }
}
