<ion-header class="ion-padding-start ion-padding-top ion-padding-end">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-sharp" class="back-arrow"></ion-icon>
    </ion-buttons>
    <ion-title>Quotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
    <ion-row class="main-row">
      <ion-col size="7" class="ion-no-padding">
        <p class="quote-count">Quotes Request {{item}}</p>
        <p class="med-name">Paracetamol 650</p>
        <p class="date">10th Feb’22 l 10:20 AM </p>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">
        <p class="reply">
          <ion-icon [src]="'assets/icon/reply-ico.svg'" class="attachment-icon"></ion-icon> &nbsp;&nbsp; 15 Reply
        </p>
        <ion-button class="btn">view all</ion-button>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>