<ion-header>
  <ion-toolbar clas="ion-padding-top ">
    <ion-buttons class="humbergger-menu" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="padding-top:35px">Quotes</ion-title>
    <ion-buttons class="right-icons ion-margin-end header-icon" slot="end">

      <ion-icon class="notification-icon" slot="end" [src]="'assets/icon/notification-icon.svg'"></ion-icon>

    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
    <ion-row class="main-row">
      <ion-col size="7" class="ion-no-padding">
        <p class="quote-count">Quotes Request {{item}}</p>
        <p class="med-name">Paracetamol 650</p>
        <p class="date">10th Feb’22 l 10:20 AM </p>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">
        <p class="reply">
          <ion-icon [src]="'assets/icon/reply-ico.svg'" class="attachment-icon"></ion-icon> &nbsp;&nbsp; 15 Reply
        </p>
        <ion-button class="btn" routerLink="/admin/quoterequest">view all</ion-button>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>
