<ion-header class="ion-padding-start ion-padding-top ion-padding-end">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-sharp" class="back-arrow"></ion-icon>
    </ion-buttons>
    <ion-title>Quotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="custom-textbox">
    <ion-col siz="8" class="i">
      <p class="ion-no-margin title1">Quotes</p>
      <p class="ion-no-margin title2">Paracetamol 650</p>
      <p class="ion-no-margin title3">10th Feb’22 l 10:20 AM </p>
    </ion-col>
    <ion-col size="4">
      <ion-icon [src]="'assets/icon/upload-doc-ico.svg'" class="attachment-icon">
      </ion-icon>

      <p class="ion-no-margin reply">15 Reply</p>
      <ion-button class="btn">view all</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
