<ion-content>
  <form>
    <div>
      <div class="header">
        <ng-container>
          <ion-icon name="chevron-back-sharp" class="back-arrow"></ion-icon>
        </ng-container>
      </div>
      <ion-row class="ion-margin">
        <ion-col size="12" class="text-center">
          <img [src]="'assets/icon/forgot-ico.svg'" class="logo">
        </ion-col>
        <ion-col size="12" class="text-center">
          <ion-text class="recover">
            <h1 class="tag">Forgot password?</h1>
            <h6 class="tag2">Don't worry! We will heelp you to <br> recover your password</h6>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin">
        <ion-col size="12">
          <ion-input type="text" expand="block" class="form-control custom-textbox" placeholder="User Name / Email Id">
            <ion-icon [src]="'assets/icon/email-ico.svg'" class="left-icon" item-left></ion-icon>
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="next-btn ion-margin">
        <ion-col size="12" class="text-center">
          <ion-button expand="block" type="submit" class="custom-btn" routerLink="/auth/otp">GET OTP
          </ion-button>
        </ion-col>
        <ion-col size="12" class="text-center forgot-link"> <br>
          <a href="javascript:void(0);">Resend OTP</a>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>
