<ion-header class="ion-padding-start ion-padding-top ion-padding-end">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-sharp" class="back-arrow"></ion-icon>
    </ion-buttons>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-row>
      <ion-segment value="RecentNote" class="custsegment">
        <ion-segment-button value="RecentNote" class="customrecentnote">
          <ion-label>My Offer</ion-label>
        </ion-segment-button>
        <ion-segment-button class="customrecentcall">
          <ion-label>Receive Offer</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>

    <ng-container *ngFor="let offer of offers">
      <ion-row class="ion-margin custom-box" [ngClass]="offer.type">
        <ion-col size="12">
          <p class="offer-heading">Offer on</p>
          <p class="offer-name"><strong>Paracetamol</strong></p>
          <p class="on-purchase-off">of 5 Carton on purchase</p>
        </ion-col>
        <ion-col size="12">
          <p class="end-on">End on : 5th May</p>
          <p class="left-date-time"> Left: &nbsp;
            <span>2</span> :
            <span>42</span> :
            <span>12</span>
          </p>
        </ion-col>
        <div routerLink="/auth/assosiates" class="offer-btn">View Offer
        </div>
      </ion-row>
    </ng-container>

  </div>

</ion-content>